@media (max-width: 660px) {
  .hotel-container {
    background-color: #fb923c;
    display: flex;
    flex-direction: column;
    gap: 55px;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    width: 100%;
  }

  .hotel-card {
    display: flex;
    justify-content: end;
    background-color: #fafafa;
    gap: 10px;
    border-radius: 10px;
    padding: 15px;
    height: 250px;
    width: 100%;
    position: relative;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
      rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  }
  .hotel-card-info {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    width: 60%;
  }
  .hotel-card-info > p {
    display: flex;
    text-align: end;
    font-weight: 600;
  }
  .hotel-card > img {
    border-radius: 20px;
    width: 40%;
    height: 100%;
    position: absolute;
    left: -25px;
    top: -20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
  .hotel-details {
    background-color: #fb923c;
    min-height: 100vh;
  }

  .hotel-details-card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .hotel-details-card > img {
    width: 100%;
    height: 300px;
  }

  .hotel-details-card-info {
    background-color: #f4f4f5;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 15px;
    gap: 15px;
    position: relative;
  }
  .hotel-details-card-info > svg {
    position: absolute;
    width: 62px;
    top: -35px;
    right: 40%;
  }
  .hotel-details-card-info > :nth-child(1) {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 360px) {
  .hotel-card > img {
    width: 40%;
    height: 85%;
  }
  .hotel-details-card > img {
    width: 100%;
  }
}
