* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.star-rating > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.3rem;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}
