* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
main {
  background-color: #fcfbd8;
}
.star-rating > button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1.3rem;
}
.on {
  color: #000;
}
.off {
  color: #ccc;
}

@media (max-width: 660px) {
  .favourites-container {
    background-color: #fcfbd8;
    display: flex;
    flex-direction: column;
    gap: 55px;
    align-items: center;
    min-height: 100vh;
    padding: 30px;
    width: 100%;
  }
}
